aiohappyeyeballs
aiohttp
aiosignal
annotated-doc
annotated-types
anyio
attrs
bcrypt
beautifulsoup4
brotli
certifi
cffi
charset-normalizer
click>=8.1.0
cryptography
curl_cffi
dataclasses-json
ddgs
distro
dnspython
duckduckgo_search
ecdsa
email-validator
fake-useragent
fastapi
fastapi-limiter==0.1.6
filetype
frozendict
frozenlist
google-auth
google-genai
h11
h2
hpack
httpcore
httptools
httpx
httpx-sse
hyperframe
idna
jsonpatch
jsonpointer
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-text-splitters
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
lxml
marshmallow
multidict
multitasking
mypy_extensions
numpy
orjson
ormsgpack
packaging
pandas
passlib
peewee
platformdirs
primp
propcache
protobuf
psycopg2-binary
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic-settings
pydantic_core
PyJWT
python-dateutil
python-dotenv
python-jose
python-multipart
pytz
PyYAML
redis
regex
requests
requests-toolbelt
rsa
six
sniffio
socksio
soupsieve
SQLAlchemy
starlette
tavily-python
tenacity
tiktoken
typing-inspect
typing-inspection
typing_extensions
urllib3
uuid_utils
uvicorn
uvloop
watchfiles
websockets
xxhash
yarl
yfinance>=1.2.0
zstandard
supabase
